name: Tests
on:
  schedule:
    - cron: '0 0 * * *' # Midnight of each day

jobs:
  tests:
    name: Test Suite
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          # TODO: RE-TEST ON NIGHTLY ONCE RING IS FIXED (see https://github.com/briansmith/ring/issues/1469)
          #- nightly
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - name: Run cargo test - debug
        uses: actions-rs/cargo@v1
        with:
          command: test
      
      - name: Run cargo test - release
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --release --all-features