on: [push, pull_request]
permissions:
  contents: read

name: Basic tests

jobs:
  test:
    strategy:
      matrix:
        toolchain:
          - stable
          - nightly
          - 1.80.0 # MSRV
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@a54c7afa936fefeb4456b2dd8068152669aa8203
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Test debug-mode
        run: cargo test --all-features

      - name: Test release-mode
        run: cargo test --release --all-features

      - name: Test no_std
        run: cargo build --no-default-features --features v2,v3,v4

      - name: Test only v2-full
        run: cargo test --no-default-features --tests --features v2,std,paserk

      - name: Test only v3-full
        run: cargo test --no-default-features --tests --features v3,std,paserk

      - name: Test only v4-full
        run: cargo test --no-default-features --tests --features v4,std,paserk

  # https://rustwasm.github.io/docs/book/reference/add-wasm-support-to-crate.html#maintaining-ongoing-support-for-webassembly
  web_assembly:
    name: WebAssembly - Release build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - wasm32-unknown-unknown
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false

      - uses: dtolnay/rust-toolchain@a54c7afa936fefeb4456b2dd8068152669aa8203
        with:
          toolchain: stable
          targets: ${{ matrix.arch }}

      - run: RUSTFLAGS='--cfg getrandom_backend="wasm_js"' cargo check --no-default-features --features v2,v3,v4 --target ${{ matrix.arch }}

  cross_compilation:
    name: Linux/ARM/Big-Endian/32-Bit - Release tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - i686-unknown-linux-gnu
          - armv7-unknown-linux-gnueabihf
          - powerpc64-unknown-linux-gnu
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false

      - uses: houseabsolute/actions-rust-cross@601d02e82d0131bf31342bd6315efdfb55cf0ed3
        with:
          command: test
          target: ${{ matrix.arch }}
          args: "--release --all-features"

  docs:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false

      - uses: dtolnay/rust-toolchain@a54c7afa936fefeb4456b2dd8068152669aa8203
        with:
          toolchain: stable

      - run: cargo doc --no-deps --all-features
